@page "{restId:int}"

@model Core.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h1>@Model.Restaurant.Name</h1>

<div>
    ID  : @Model.Restaurant.Id
</div>

<div>
    Location : @Model.Restaurant.Location
</div>

<div>
    Cuisine  : @Model.Restaurant.Cuisine
</div>
<hr />
<a asp-page="./List" class="btn btn-info">Back to Restaurants</a>